coverage/
public/
dist/
attic/
*.log
*.png
*.svg
*.ico
*.wav
*.tpl
*.sh
*.opts
*.txt
yarn.lock
.gitignore
.npmrc
.npmignore
.prettierignore
.thelounge_home
.editorconfig
.eslintignore
.gitattributes
.browserslistrc
.node-version

*.css
.gitkeep
tmp/
*.conf
shells/capacitor/android/
shells/capacitor/ios/
.claude/
